/* desktop view */
body{
  background-color: #000;
}
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.profile img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border:2px solid grey;
  position: absolute !important;
  right:195px !important;
  top: 3px;
    display: block;
}
.user_name{
  color: #fff;
  font-weight: 600;
  position: absolute;
  right: 60px;
    display: block;
}
.dropbtn {
  background-color: transparent;
  color: white;
  margin-right: 10px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}
#barsIcon{
  display: none;
   position: absolute;
   right: 15px;
}
.desktop_tabs{
  display: block;
}
#pills-tab{
  background-color: transparent;
  position: absolute;
  top:5px;
  left: 510px;

}
.searchIcon:hover{
  color:orange;
}
.searchIcon1{
   font-size: 20px;
  color:#fff;
  background-color: transparent;
  border-left:2px solid #fff;
  border-right: none;
  border-top:none;
  border-bottom: none;
  padding-left: 5px;
  position: absolute;
  right: 260px;
  display: none;
}

.searchIcon{
  font-size: 20px;
  color:#fff;
  background-color: transparent;
  border-left:2px solid #fff;
  border-right: none;
  border-top:none;
  border-bottom: none;
  padding-left: 5px;
  position: absolute;
  right: 260px;
}
.searchForm{
  width: 0px;
  height: 40px;
  border-radius: 10px;
  background-color: #fff;
  z-index: 10;
  position: relative;
  left: -20px;
  overflow: hidden;
  transition: 0.5s;
}

.searchForm #inputSearch{
  width: 550px;
  height: 36px;
  border: none !important;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  border-top-left-radius:10px;
  border-bottom-left-radius:10px;
  bottom: 2px;
  position: relative;
}
.form-icon{
  font-size: 25px;
  margin-left: 10px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
.nav-item .nav-link.active{
  background-color: transparent;
}
  .nav-item .nav-link{
  color:#fff;
  font-weight: 700;
  font-size: 20px;
}
.nav-item .nav-link:hover{
color:orange;
}
.dashboard{
display: none;
}
.btn-next{
  position: absolute;
  top:370px;
}
.swiper-slide img{
  height: 750px;
  width:100%;
}
.vlogName{
  font-size: 25px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  margin-top: 10px;
}
.swiper-pagination{
  position: absolute;
  top: 760px;

}
.slider{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #000;
}
.info-text{
 height:400px;
 width: 50%;
 background: rgba( 255, 255, 255, 0.35 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
padding: 20px;
}
.img-info{
position: absolute;
top:200px;
left:100px;
color: #fff;
font-size: 45px;
text-shadow: 10 5 0 5 #000;
font-weight: 700;
font-family: sans-serif;
}
.addsText1{
color:#000;
font-size:28px;
font-weight:600;
}
.addsText2{
font-size: 18px;
color: #111;
}
.addsText3{
color:#000;
font-size: 18px;
float: right;
margin-top: 35px;
}
.addsText3 a{
text-decoration: none;
color: #fff;
padding: 10px 14px;
width:40px;
height: 40px;
}
.fa-facebook{
  background-color: #3B5998;
  border-radius: 5px;
  color: #fff !important;
  font-size: 20px;
 }
.adds_Container{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color:#000;
  top:0px;
  left:0px;
  position:absolute;

}
.form-reservation{
  padding: 20px;
  background-color: #000;
  height: 80%;
  width: 50%;
 position: relative;
 top:80px;
}
.form-reservation form{
  width: 50%;
  margin: 20px auto;
}
.form-label{
  color:#fff;
}
.video_adds{
width: 50%;
height: 85%;
position: relative;
top:80px;
background-color: #fff;
}
.video_adds video{
  height: 100%;
  width: 100%;
}
/*coursel*/

.cour-descript{
  position:relative;
  top: 100px;
   font-size: 20px;
   text-align: center;
 }
.coursel{
  height: 370px;
  width: 100%;
  background-color: lightgrey;
  position:relative;
  top: 150px; 
  padding: 5px;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-scrollbar-width:none;
  scrollbar-width: none;
}
.room_Details{
  padding: 10px;
  height: 340px;
  width:570px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  text-align: center;
  border-radius: 10px;
  margin-left: 10px;
}
.room_num{
  font-size: 30px;
}
.room-price{
  position: relative;
  top:170px;
  left: 120px;
  font-size: 25px;
}
.btn-room{
  position: relative;
  top:165px;
  right: 120px;
}
/*mobile view*/
@media only screen and (max-width:600px) {
  body{
  background-color: #000;
}
.profile img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border:2px solid grey;
  position: relative;
  right: 30px;
  display: none;
}
.user_name{
  color: #fff;
  font-weight: 600;
  position: absolute;
  right: 50px;
    display: none;

}
.desktop_tabs{
  display: none;
}
  .nav-item .nav-link{
  color:#111;
  font-weight: 700;
  font-size: 20px;
}
.searchIcon1{
   font-size: 20px;
  color:#fff;
  background-color: transparent;
  border-left:2px solid #fff;
  border-right: none;
  border-top:none;
  border-bottom: none;
  padding-left: 5px;
  position: absolute;
  right: 60px;
  display: none;
}
.searchIcon{
  font-size: 20px;
  color:#fff;
  background-color: transparent;
  border-left:2px solid #fff;
  border-right: none;
  border-top:none;
  border-bottom: none;
  padding-left: 5px;
  position: absolute;
  right: 60px;
}
.searchForm{
  width: 0px;
  height: 40px;
  border-radius: 10px;
  background-color: #fff;
  z-index: 10;
  position: absolute;
  right: 100px;
  overflow: hidden;
  transition: 0.5s;
}

.searchForm #inputSearch{
  width: 300px;
  height: 36px;
  border: none !important;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  border-top-left-radius:10px;
  border-bottom-left-radius:10px;
  position: relative;
  bottom:2px;
}
.dropdown{
  display: none;
}
#barsIcon{
  color:#fff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 25px;
  display: block;
}
.nav-item .nav-link.active{
  background-color: transparent;
  color: #111;
}
.dashboard{
  width:0%;
  height: 100%;
  position: fixed;
  left:0px;
  top: 0px;
  background-color: #fff;
  z-index: 10;
  overflow: hidden;
  transition: 0.6s;
  display: block;
  box-shadow: 2px 2px 2px #111;
}
.topDash{
  width: 100%;
  height: 150px;
  border-bottom: 2px solid #111;
  text-align: center;

}
 .profpic img{
  display: block;
  height: 100px;
  width: 100px;
  margin: 20px auto;
  border-radius: 50%;
  border: 2px solid grey;
}
.user_nameDash{
  color: #000;
  font-weight: 600;
  font-size: 20px;
  position: relative;
  bottom: 20px;
  
}
.dashMenu{
  position:relative;
  right: 500px;
  width: 100%;
   top:30px;
}
.dash-pills{
  width: 100%;
   display: flex;
  flex-direction: column;
 flex-wrap: nowrap;
}
.dashMenu .mylink{
  width: 100%;
  text-align: left;
  margin-top: 10px;
  
}
.mylink .fa{
  margin-right: 10px;
}
.logout{
  width:100%;
  border-top:2px solid #111;
  padding: 5px;
  position: absolute;
  bottom: 0px;
  text-align: center;

}
.logout a{
  text-decoration: none;
  font-weight: 600;
  font-size: 25px;
   color: #111;
   cursor: pointer;
}
.logout a .fa{
  margin-right: 30px;
  font-size: 28px;
}
.dashclose{
  height: 100%;
  width:0%;
  position: absolute;
  top:0px;
  right: 0px;
  z-index: 10;
}
.btn-next{
  position: absolute;
  top:220px;
}
.swiper-slide img{
  height: 400px;
  width:100%;
}
.vlogName{
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  margin-top: 10px;
}
.swiper-pagination{
  position: absolute;
  top: 360px;
}
.info-text{
 height:240px;
 width: 70%;
 background: rgba( 255, 255, 255, 0.35 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
padding: 20px;
}
.img-info{
position: absolute;
top:80px;
left:100px;
color: #fff;
font-size: 25px;
text-shadow: 10 5 0 5 #000;
font-weight: 700;
font-family: sans-serif;
}
.addsText1{
color:#000;
font-size:22px;
font-weight:600;
}
.addsText2{
font-size: 14px;
color: #111;

}
.addsText3{
color:#000;
font-size: 16px;
float: right;
margin-top: 10px;
}
 .addsText3 a{
  text-decoration: none;
  height: 30px;
  width: 30px;
  padding: 8px 10px;
 } 
 .fa-facebook{
  background-color: #3B5998;
  border-radius: 5px;
  color: #fff !important;
  font-size: 18px !important;
 }
 .adds_Container{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color:#000;
  top:0px;
  left:0px;
  position:absolute;

}
.form-reservation{
  padding: 20px;
  background-color: #000;
  height: 80%;
  width: 80%;
 position: relative;
 top:80px;
}
.form-reservation form{
  width: 88%;
  margin-left:10px;
}
.form-label{
  color:#fff;
}
.video_adds{
width: 30%;
height: 30%;
position: absolute;
top:80px;
right: 0px;
background-color: #fff;
}
.video_adds video{
  height: 100%;
  width: 100%;
}
}